@import "../../../../public/scss/styles.scss";

.container {
  position: absolute;
  right: 30px;
  z-index: 3;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
  bottom: 145px;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    cursor: pointer;
  }
}
