@import "../../../public/scss/styles.scss";

.container {
  width: 100vw;
  max-width: 500px;
  margin: 0 auto;
  height: 100vh;
  overflow: hidden;
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
}

.wrap {
}
