// @import "../../public/scss/mixin/style.scss";
// @import "public/public/scss/mixin";

.img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5rem;

  h3 {
    margin: 3rem 0 2rem 0;
    font-size: 2rem;
  }

  img {
    border-radius: 50%;
  }
}

.pre-img {
  position: relative;
  width: 12rem;
  height: 12rem;
  object-fit: cover;
}

.img-icon {
  cursor: pointer;
  position: absolute;
  top: 14rem;
  margin-left: 8rem;

  img {
    width: 3rem;
    height: 3rem;
  }
}

.info-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5.4rem;
}

.userInformation {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;

  p:first-child {
    margin-bottom: 0.4rem;
    font-weight: bold;
  }
}

.profile-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;

  button {
    margin-top: 1rem;
    padding: 0.8rem 12rem;
    border: 1px solid #a97dff;
    border-radius: 0.4rem;
    background-color: white;
  }
}

.tab {
  margin-top: 1rem;
  color: #E2E2E2;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  overflow-y: scroll;

  .submenu {
    display: flex;
    width: calc(100% /3);
    align-items: center;
    justify-content: center;
    // padding: 1rem;
    font-size: 15px;
    transition: 0.5s;
    border-radius: 0.2rem 0.2rem 0 0;
  }
}

.focused {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% /3);
  padding: 1rem;
  font-size: 15px;
  border-radius: 1rem 1rem 0px 0px;
  border-bottom: 3px solid #a97dff;
  color: black;
}

.video-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.react-player {
  margin-bottom: 0.4rem;
  overflow: scroll;
}

.test {
  overflow: hidden;
  height: 100vh;
}